services:
  mongo:
    image: mongo
    ports:
      - 3456:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
      MONGO_INITDB_DATABASE: the_database
    volumes: 
      - ./mongo/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js
      - ./mongo_data:/data/db

# run with docker compose -f docker-compose.dev.yaml up -d for detached
# view logs with docker compose -f docker-compose.dev.yaml logs -f
# stop with docker compose -f docker-compose.dev.yaml down
# run the app on development with MONGO_URL=mongodb://the_username:the_password@localhost:3456/the_database npm run dev